<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" android-versionCode="1" version="0.0.1" id="xdk.intel.sample"  >
<name>conetapp</name>
<description>testapp</description>
<author>boak</author>
<preference name="phonegap-version" value="cli-6.2.0" />
<plugin name="cordova-plugin-crosswalk-webview" />
<plugin name="cordova-plugin-compat" spec="1.0.0"/>
<plugin name="cordova-plugin-statusbar" spec="2.1.3"/>
<plugin name="cordova-plugin-device" spec="1.1.2"/>
<plugin name="cordova-plugin-splashscreen" spec="3.2.2"/>
<plugin name="cordova-plugin-whitelist" spec="1.2.2"/>
<plugin name="cordova-plugin-camera" spec="2.3.0">
<content src="index.html" />
<access origin="*" />
<access origin="http://127.0.0.1*"/>
<access origin="http://192.168.178.100" subdomains="true" />
<access origin="http://*.phonegap.com"/>
<log level="DEBUG"/>
</widget>
